<div class="film-page-film">
    <img
        src="http://localhost:4200/api/films/{{ this.film.id }}/Poster.jfif"
        alt="Poster"
    />
    <div class="film-page-details">
        <h1>{{ this.film.title }}</h1>
        <p>{{ this.film.synopsis }}</p>
    </div>
    <div class="film-page-reviews">
        <h1>Reviews</h1>
        <!-- <div *ngFor="let review of this.reviews"></div> -->
    </div>
</div>

<hr />

<!-- ... -->

<app-show-picker id="there"></app-show-picker>
<app-seat-picker></app-seat-picker>
