<div class="film-container x-scrollable">
    <img
        src="http://localhost:4200/api/films/{{ this.film.id }}/Poster.jfif"
        alt="Poster"
    />
    <div class="detail-container">
        <h1>{{ this.film.title }}</h1>
        <p>{{ this.film.synopsis }}</p>
    </div>
    <div class="review-container">
        <h1>Reviews</h1>
        <div class="y-scrollable">
            <div *ngFor="let review of this.reviews">
                <h4>{{ review.user }}</h4>
                <p>
                    {{ review.review }} -
                    {{ "\u2605".repeat(review.rating || 0) }}
                </p>
                <hr />
            </div>
        </div>
        <!-- ... -->
        <div
            *ngIf="this.authService.isSignedIn; then thenBlock; else elseBlock"
        ></div>
        <ng-template #thenBlock>
            <form>
                <span class="rating">
                    <input
                        type="radio"
                        id="1"
                        name="rating"
                        value="1"
                        [(ngModel)]="rating"
                    /><label for="1"></label>
                    <input
                        type="radio"
                        id="2"
                        name="rating"
                        value="2"
                        [(ngModel)]="rating"
                    /><label for="2"></label>
                    <input
                        type="radio"
                        id="3"
                        name="rating"
                        value="3"
                        [(ngModel)]="rating"
                    /><label for="3"></label>
                    <input
                        type="radio"
                        id="4"
                        name="rating"
                        value="4"
                        [(ngModel)]="rating"
                    /><label for="4"></label>
                    <input
                        type="radio"
                        id="5"
                        name="rating"
                        value="5"
                        [(ngModel)]="rating"
                    /><label for="5"></label>
                </span>
                <textarea
                    class="review"
                    name="review"
                    placeholder="Tell the world your thoughts!"
                    rows="5"
                    [(ngModel)]="review"
                ></textarea>
                <!-- <p>{{ this.remaining }}</p> -->
                <button type="submit" (click)="onReview()">Post</button>
            </form>
        </ng-template>
        <ng-template #elseBlock>
            <a [routerLink]="['/auth/sign-up']">Don't have an account yet?</a>
        </ng-template>
    </div>
</div>

<hr />

<!-- ... -->

<app-show-picker id="film-page-shows"></app-show-picker>
<app-seat-picker id="film-page-seats"></app-seat-picker>
