.film-container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2rem;
}

.review-container {
    display: grid;
    border: 2px solid black;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 300px;
    height: calc(100vh - 7.875rem);

    > div {
        border-top: 2px solid black;
        border-bottom: 2px solid black;
    }

    a {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
}

img {
    height: calc(100vh - 7.875rem);
}

p {
    text-align: justify;
}

// Rating-Input (@Kate Rose Morley, https://iamkate.com/code/star-rating-widget/):

.rating {
    display: flex;

    & input {
        position: absolute;
        left: -100vw;
    }

    & label {
        width: 1.5rem;
        height: 1.5rem;
        overflow: hidden;
        background: url("/assets/stars.svg") no-repeat top left;
        background-size: 4.5rem;
    }

    &:not(:hover) input:indeterminate + label,
    &:not(:hover) input:checked ~ input + label,
    & input:hover ~ input + label {
        background-position: -1.5rem 0;
    }

    &:not(:hover) input:focus-visible + label {
        background-position: -3rem 0;
    }
}

// Review-Input:

.review {
    font-family: inherit;
    resize: none;
    width: calc(100% - 5px);
}

@media only screen and (max-width: 500px) {
    img {
        width: calc(100vw - 1rem);
        height: auto;
    }

    p {
        width: calc(100vw - 3rem);
    }

    .review-container {
        width: calc(100vw - 3.25rem);
    }
}
