a {
    color: inherit;
    text-decoration: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Bebas Neue";
}

p {
    font-family: "Work Sans";
}

hr {
    border: 1px solid black;
    margin-block-start: 0.5rem;
    margin-block-end: 0.5rem;
}

.clickable {
    cursor: pointer;
}
