<nav>
    <div
        *ngIf="this.authService.isSignedIn; then thenBlock; else elseBlock"
    ></div>
    <ng-template #thenBlock>
        <a class="logo" [routerLink]="['/']">CINEMON</a>
        <a class="link" [routerLink]="['/']">Films</a>
        <span></span>
        <a class="link" [routerLink]="['/dashboard']">Dashboard</a>
    </ng-template>
    <ng-template #elseBlock>
        <a class="logo" [routerLink]="['/']">CINEMON</a>
        <a class="link" [routerLink]="['/']">Films</a>
        <a class="link" [routerLink]="['/auth/sign-in']">Sign In</a>
        <a class="link" [routerLink]="['/auth/sign-up']">Sign Up</a>
    </ng-template>
</nav>

<hr />

<!-- ... -->

<router-outlet></router-outlet>
