@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Limelight&family=Work+Sans&display=swap");

nav {
    // Layout:
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // Alignment:
    align-items: center;
    justify-content: center;
    text-align: center;
    // Padding:
    padding-top: 1.5rem;
    padding-bottom: 1rem;

    .logo {
        font: 3rem "Limelight";
        transform: skew(-10deg, -10deg);
    }

    .link {
        font: 2rem "Bebas Neue";
    }
}

@media only screen and (max-width: 600px) {
    nav {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .logo {
            grid-column: 1 / 4;
            margin-bottom: 1.5rem;
        }
    }
}
