$seat: 3rem;

.seats-grid {
    display: grid;
    grid-template-columns: repeat(12, $seat);
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.seat {
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    width: $seat;
    height: $seat;
    border: 2px solid black;
    line-height: $seat;
    text-align: center;
}

.empty {
    width: $seat;
    height: $seat;
}
