// Show Picker:

.show-picker {
    border: 2px solid black;
    padding: 1rem;
}

.show-picker-dates {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    color: inherit;
    border-color: inherit;
}

.show-picker-times {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: inherit;
    border-color: inherit;
}

h2 {
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-size: 1.5rem;
    text-align: center;
    border: 2px solid black;
    margin: 1rem;
    padding: 1rem;
}

// Seat Picker:

$seat: 3rem;

.seats-grid {
    display: grid;
    grid-template-columns: repeat(12, $seat);
    column-gap: 0.5rem;
    row-gap: 0.25rem;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.seat {
    font-family: "Bebas Neue";
    font-size: 1.5rem;
    width: $seat;
    height: $seat;
    border-width: 2px;
    border-style: solid;
    border-color: inherit;
    // border: 2px solid black;
    line-height: $seat;
    text-align: center;
}

.empty {
    width: $seat;
    height: $seat;
}
